{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>

<body>
    <form action="" method="POST" style="text-align: center; border: 1px solid black; border-radius: 20px;"
        enctype="multipart/form-data">
        <h3>Añadir libro</h4>
            {% csrf_token %}
            {{libro_form.as_p}}
            <button type="submit">Guardar Cambios</button>
    </form>
</body>

</html>
{% endblock %}